.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.133301;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.739746;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.027832;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.lsb{letter-spacing:-0.480000px;}
.ls9{letter-spacing:-0.436000px;}
.ls11{letter-spacing:-0.384000px;}
.ls3{letter-spacing:-0.192000px;}
.lsd{letter-spacing:-0.147600px;}
.ls13{letter-spacing:-0.096000px;}
.lsa{letter-spacing:-0.065600px;}
.ls6{letter-spacing:-0.062400px;}
.lsf{letter-spacing:-0.019200px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.000004px;}
.lse{letter-spacing:0.030240px;}
.ls15{letter-spacing:0.033600px;}
.ls14{letter-spacing:0.042800px;}
.ls5{letter-spacing:0.096000px;}
.ls8{letter-spacing:0.133600px;}
.ls2{letter-spacing:0.154800px;}
.ls4{letter-spacing:0.192000px;}
.ls7{letter-spacing:0.288000px;}
.lsc{letter-spacing:0.332400px;}
.ls10{letter-spacing:0.480000px;}
.ls16{letter-spacing:0.504000px;}
.ls12{letter-spacing:0.672000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.056960px;}
._6{width:1.496000px;}
._8{width:24.504000px;}
._e{width:25.712000px;}
._14{width:28.354400px;}
._a{width:29.376000px;}
._9{width:30.416000px;}
._5{width:31.472000px;}
._10{width:32.528000px;}
._11{width:33.848000px;}
._f{width:34.888000px;}
._4{width:36.176000px;}
._27{width:37.216000px;}
._1{width:38.400000px;}
._d{width:39.984000px;}
._1d{width:42.032000px;}
._2b{width:43.280000px;}
._2a{width:44.720000px;}
._29{width:46.176000px;}
._17{width:47.312000px;}
._18{width:48.480000px;}
._19{width:49.672000px;}
._2f{width:50.822080px;}
._23{width:51.824960px;}
._2{width:53.456000px;}
._3{width:54.488000px;}
._7{width:56.501984px;}
._21{width:58.696000px;}
._20{width:59.888000px;}
._2d{width:61.064000px;}
._2e{width:62.864000px;}
._31{width:65.182112px;}
._32{width:66.279680px;}
._13{width:67.768000px;}
._12{width:68.912000px;}
._1a{width:72.288000px;}
._15{width:73.328000px;}
._16{width:74.480000px;}
._22{width:80.048000px;}
._1f{width:84.371360px;}
._24{width:89.744000px;}
._30{width:96.047552px;}
._25{width:111.248000px;}
._b{width:117.776000px;}
._c{width:118.888000px;}
._26{width:122.096000px;}
._1e{width:148.076864px;}
._2c{width:158.384000px;}
._28{width:167.891360px;}
._1b{width:277.616000px;}
._1c{width:278.808000px;}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:84.000000px;}
.fs4{font-size:84.096000px;}
.fs5{font-size:87.840000px;}
.fs1{font-size:96.000000px;}
.fs2{font-size:96.096000px;}
.fs0{font-size:176.160000px;}
.y0{bottom:0.000000px;}
.y19{bottom:69.264000px;}
.y18{bottom:92.304000px;}
.y2b{bottom:109.580000px;}
.y7{bottom:113.450000px;}
.y17{bottom:115.340000px;}
.ya{bottom:117.740000px;}
.y2a{bottom:135.500000px;}
.y16{bottom:138.380000px;}
.y9{bottom:140.900000px;}
.y15{bottom:161.450000px;}
.y21{bottom:163.610000px;}
.y8{bottom:164.060000px;}
.y14{bottom:184.490000px;}
.y29{bottom:187.370000px;}
.y20{bottom:189.530000px;}
.y13{bottom:207.530000px;}
.y28{bottom:213.290000px;}
.yb{bottom:214.700000px;}
.y1f{bottom:215.450000px;}
.y12{bottom:230.570000px;}
.y27{bottom:235.750000px;}
.y6{bottom:239.210000px;}
.y1e{bottom:241.370000px;}
.y11{bottom:253.610000px;}
.y26{bottom:261.670000px;}
.y5{bottom:265.150000px;}
.yc{bottom:265.320000px;}
.y1d{bottom:267.310000px;}
.y10{bottom:276.670000px;}
.y25{bottom:287.590000px;}
.y4{bottom:291.070000px;}
.y1c{bottom:293.230000px;}
.yf{bottom:299.710000px;}
.y24{bottom:313.510000px;}
.y3{bottom:316.990000px;}
.y1b{bottom:319.150000px;}
.ye{bottom:322.750000px;}
.y23{bottom:339.460000px;}
.y2{bottom:342.910000px;}
.y1a{bottom:344.710000px;}
.yd{bottom:345.790000px;}
.y22{bottom:365.380000px;}
.y1{bottom:414.840000px;}
.h4{height:68.865234px;}
.h5{height:68.943938px;}
.h6{height:81.277734px;}
.h2{height:88.828125px;}
.h3{height:88.916953px;}
.h1{height:162.999609px;}
.h0{height:540.000000px;}
.w1{width:959.999986px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x8{left:35.207986px;}
.x9{left:53.207986px;}
.x2{left:61.199986px;}
.x3{left:79.199986px;}
.x4{left:104.139986px;}
.x1{left:219.839986px;}
.x5{left:308.709986px;}
.x6{left:513.259986px;}
.x7{left:717.839986px;}
@media print{
.v0{vertical-align:0.000000pt;}
.lsb{letter-spacing:-0.640000pt;}
.ls9{letter-spacing:-0.581333pt;}
.ls11{letter-spacing:-0.512000pt;}
.ls3{letter-spacing:-0.256000pt;}
.lsd{letter-spacing:-0.196800pt;}
.ls13{letter-spacing:-0.128000pt;}
.lsa{letter-spacing:-0.087467pt;}
.ls6{letter-spacing:-0.083200pt;}
.lsf{letter-spacing:-0.025600pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.000005pt;}
.lse{letter-spacing:0.040320pt;}
.ls15{letter-spacing:0.044800pt;}
.ls14{letter-spacing:0.057067pt;}
.ls5{letter-spacing:0.128000pt;}
.ls8{letter-spacing:0.178133pt;}
.ls2{letter-spacing:0.206400pt;}
.ls4{letter-spacing:0.256000pt;}
.ls7{letter-spacing:0.384000pt;}
.lsc{letter-spacing:0.443200pt;}
.ls10{letter-spacing:0.640000pt;}
.ls16{letter-spacing:0.672000pt;}
.ls12{letter-spacing:0.896000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-1.409280pt;}
._6{width:1.994667pt;}
._8{width:32.672000pt;}
._e{width:34.282667pt;}
._14{width:37.805867pt;}
._a{width:39.168000pt;}
._9{width:40.554667pt;}
._5{width:41.962667pt;}
._10{width:43.370667pt;}
._11{width:45.130667pt;}
._f{width:46.517333pt;}
._4{width:48.234667pt;}
._27{width:49.621333pt;}
._1{width:51.200000pt;}
._d{width:53.312000pt;}
._1d{width:56.042667pt;}
._2b{width:57.706667pt;}
._2a{width:59.626667pt;}
._29{width:61.568000pt;}
._17{width:63.082667pt;}
._18{width:64.640000pt;}
._19{width:66.229333pt;}
._2f{width:67.762773pt;}
._23{width:69.099947pt;}
._2{width:71.274667pt;}
._3{width:72.650667pt;}
._7{width:75.335979pt;}
._21{width:78.261333pt;}
._20{width:79.850667pt;}
._2d{width:81.418667pt;}
._2e{width:83.818667pt;}
._31{width:86.909483pt;}
._32{width:88.372907pt;}
._13{width:90.357333pt;}
._12{width:91.882667pt;}
._1a{width:96.384000pt;}
._15{width:97.770667pt;}
._16{width:99.306667pt;}
._22{width:106.730667pt;}
._1f{width:112.495147pt;}
._24{width:119.658667pt;}
._30{width:128.063403pt;}
._25{width:148.330667pt;}
._b{width:157.034667pt;}
._c{width:158.517333pt;}
._26{width:162.794667pt;}
._1e{width:197.435819pt;}
._2c{width:211.178667pt;}
._28{width:223.855147pt;}
._1b{width:370.154667pt;}
._1c{width:371.744000pt;}
.fs3{font-size:112.000000pt;}
.fs4{font-size:112.128000pt;}
.fs5{font-size:117.120000pt;}
.fs1{font-size:128.000000pt;}
.fs2{font-size:128.128000pt;}
.fs0{font-size:234.880000pt;}
.y0{bottom:0.000000pt;}
.y19{bottom:92.352000pt;}
.y18{bottom:123.072000pt;}
.y2b{bottom:146.106667pt;}
.y7{bottom:151.266667pt;}
.y17{bottom:153.786667pt;}
.ya{bottom:156.986667pt;}
.y2a{bottom:180.666667pt;}
.y16{bottom:184.506667pt;}
.y9{bottom:187.866667pt;}
.y15{bottom:215.266667pt;}
.y21{bottom:218.146667pt;}
.y8{bottom:218.746667pt;}
.y14{bottom:245.986667pt;}
.y29{bottom:249.826667pt;}
.y20{bottom:252.706667pt;}
.y13{bottom:276.706667pt;}
.y28{bottom:284.386667pt;}
.yb{bottom:286.266667pt;}
.y1f{bottom:287.266667pt;}
.y12{bottom:307.426667pt;}
.y27{bottom:314.333333pt;}
.y6{bottom:318.946667pt;}
.y1e{bottom:321.826667pt;}
.y11{bottom:338.146667pt;}
.y26{bottom:348.893333pt;}
.y5{bottom:353.533333pt;}
.yc{bottom:353.760000pt;}
.y1d{bottom:356.413333pt;}
.y10{bottom:368.893333pt;}
.y25{bottom:383.453333pt;}
.y4{bottom:388.093333pt;}
.y1c{bottom:390.973333pt;}
.yf{bottom:399.613333pt;}
.y24{bottom:418.013333pt;}
.y3{bottom:422.653333pt;}
.y1b{bottom:425.533333pt;}
.ye{bottom:430.333333pt;}
.y23{bottom:452.613333pt;}
.y2{bottom:457.213333pt;}
.y1a{bottom:459.613333pt;}
.yd{bottom:461.053333pt;}
.y22{bottom:487.173333pt;}
.y1{bottom:553.120000pt;}
.h4{height:91.820312pt;}
.h5{height:91.925250pt;}
.h6{height:108.370312pt;}
.h2{height:118.437500pt;}
.h3{height:118.555937pt;}
.h1{height:217.332812pt;}
.h0{height:720.000000pt;}
.w1{width:1279.999981pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x8{left:46.943981pt;}
.x9{left:70.943981pt;}
.x2{left:81.599981pt;}
.x3{left:105.599981pt;}
.x4{left:138.853314pt;}
.x1{left:293.119981pt;}
.x5{left:411.613314pt;}
.x6{left:684.346648pt;}
.x7{left:957.119981pt;}
}
